<%# Single Comment/Reply %>
<div class="comment-item">
  <div class="comment-avatar" style="background-color: <%= avatar_color_for(comment.user) %>;">
    <%= avatar_initials_for(comment.user) %>
  </div>
  <div class="comment-body">
    <div class="comment-header">
      <span class="comment-author"><%= comment.user.name.presence || comment.user.email.split("@").first %></span>
      <span class="comment-time"><%= time_ago_in_words(comment.created_at) %> ago</span>
    </div>
    <p class="comment-content"><%= comment.content %></p>
  </div>
  <% if user_signed_in? && (comment.user == current_user || event.user == current_user) %>
    <%= button_to comment_path(comment), method: :delete, class: "comment-delete-btn", data: { turbo_confirm: "Delete this reply?" } do %>
      <i class="fa-solid fa-trash"></i>
    <% end %>
  <% end %>
</div>
