<!DOCTYPE html>
<html>
  <head>
    <title>Chacha</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&family=Rubik+Doodle+Shadow&display=swap" rel="stylesheet">
  </head>

  <%# FIX: Attach modal controller globally to body %>
  <body data-controller="modal">
    <%= render "shared/navbar" %>
    <div class="container-app">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>

      <%= yield %>
    </div>
  </body>
</html>
