<!DOCTYPE html>
<html>
  <head>
    <title>Chacha</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&family=Rubik+Doodle+Shadow&display=swap" rel="stylesheet">

    <!-- Mapbox GL -->
    <script src="https://api.mapbox.com/mapbox-gl-js/v3.3.0/mapbox-gl.js"></script>
    <link href="https://api.mapbox.com/mapbox-gl-js/v3.3.0/mapbox-gl.css" rel="stylesheet" />

    <!-- Mapbox Geocoder -->
    <script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.7.2/mapbox-gl-geocoder.min.js"></script>
    <link href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.7.2/mapbox-gl-geocoder.css" rel="stylesheet" />
  </head>

  <body data-controller="modal">
    <%= render "shared/navbar" %>
    <div class="container-app">
      <%= notice %>
      <%= alert %>
      <%= yield %>
    </div>
  </body>
</html>
